# compiled files
*.com
*.exe
*.dll

# packages
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Logs
*.log

# OS specific
*._
*.DS_Store
*.DS_Store?
*.Thumbs.db

# Custom - FGU Extension Dev Stfuff
*.bat
*.ext